@import "@flaticon/flaticon-uicons/css/all/all";

:root {
    --primary-color: #1a446c;
    --secondary-color: #3db4c0;
}

#panorama {
    width: 500px;
    height: 100vh;
}

* {
    font-family: 'Poppins', sans-serif;
}