.feature-icon {
  font-size: 3rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.destination-card {
  transition: transform 0.3s;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .leyte-bg-pattern {
  background-image: radial-gradient(var(--secondary-color) 1px, transparent 1px);
  background-size: 40px 40px;
} */

.section-title {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
}

.cardHover {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardHover h5 {
  position: absolute;
  bottom: 20px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  color: white;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transform: translateY(10px);
}

.cardHover:hover h5 {
  opacity: 1;
  z-index: 1;
}

.cardHover::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: bottom 0.4s ease-in-out;
}

.cardHover:hover::after {
  bottom: 0;
}