body {
  font-family: 'Poppins', sans-serif;
}

.feature-icon {
  font-size: 3rem;
  color: var(--secondary-color);
}

.destination-card {
  transition: transform 0.3s;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link {
  color: black !important;
}

.nav-pills .nav-link.active {
  background-color: black !important;
  color: white !important;
}

.nav-pills .nav-link:hover {
  border: 1px solid black !important;
}


/* .leyte-bg-pattern {
  background-image: radial-gradient(var(--secondary-color) 1px, transparent 1px);
  background-size: 40px 40px;
} */

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
}

.section-title-center {
  display: block;
  text-align: center;
}

.categories-title {
  position: relative;
  display: inline-block;
}

