.nav-pills .nav-link {
    color: black !important;
}

.nav-pills .nav-link.active {
    background-color: black !important;
    color: white !important;
}

.nav-pills .nav-link:hover {
    border: 1px solid black !important;
}