.container {
    position: relative;
}

.custom-hero {
    background-color: var(--secondary-color);
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    background: black;
    transform: translateX(-50%);
}

.timeline-dot {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.card {
    max-width: 450px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.member-image {
    border: 3px solid #ddd;
    padding: 5px;
}

.custom-role {
    font-size: 12px;
}